@media only screen and (max-width: 900px) {
	header ul
	{
		display: none;
	}
	.banner span:nth-child(2),
	.banner span:nth-child(5)
	{
		margin:0 16%;
	}
	.banner span:nth-child(5)
	{
		margin: 0 17%;
	}
	.content
	{
		padding: 10px 90px;
	}
	footer,
	.foot
	{
		padding: 3% 5% 0 5%;
	}
	footer .our,
	footer .serve,
	footer .app
	{
		display: none;
	}
	.loading
	{
		display: none;
	}
	#cloud
	{
		display: none;
	}
}