*
{
	margin: 0;
	padding: 0;
}
body
{
	font-family: "新宋体";
	background: linear-gradient(#f5f5f5,#f7f7f7);
}
ul li
{
	list-style: none;
}
ul li a:hover
{
	text-decoration: none;
}
a
{
	cursor: pointer;
}
span
{
	color: #07D79D;
}
/*导航*/
header
{
	display: flex;
	justify-content: space-between;
	height: 50px;
	padding: 0 10%;
	background-color: rgba(243,243,246,.8);
}
header img
{
	height: 40px;
	margin-top: 5px;
}
header p
{
	line-height: 50px;
}
header p img
{
	width: 20px;
	height: 15px;
	padding-right: 5px;
	margin-top: 0;
}
header ul li
{
	display: inline-block;
}
header ul li a
{
	color: #000000;
	padding: 16px 40px;
	line-height: 50px;
}
header ul li a:hover
{
	color: white;
	/* background: #07d79d; */
}
.modal-backdrop
{
	position: static;
}
@media only screen and (max-width: 800px) {
	header ul
	{
		display: none;
	}
}