@media only screen and (max-width: 800px) {
	header ul,
	.content .left>ul,
	.content .left .big
	{
		display: none;
	}
	.content .left,
	.content .right
	{
		float: none;
		width: 90%;
	}
	.top
	{
		padding-left:35px;
	}
	.plane img
	{
		width: 100%;
	}
	footer,
	.foot
	{
		padding: 3% 5% 0 5%;
	}
	footer .our,
	footer .serve,
	footer .app
	{
		display: none;
	}
	.back
	{
		display: block;
	}
	.loading
	{
		display: none;
	}
	#cloud
	{
		display: none;
	}
}