/* 云 */
#navBar
{
	position: relative;
}
.navs span 
{
	position: absolute;
	top: 5px;
	left: 1000px;
	width: 83px;
	height: 42px;
	background: url(../img/cloud.png) no-repeat;
}
.banner
{
	background: url(../img/banner5.png) no-repeat;
	background-size: 100%;
	text-align: center;
	padding: 12% 0;
	color: white;
	position: relative;
}
.banner h1
{
	font-size: 60px;
}
.banner input
{
	width: 30%;
	padding: 8px 20px;
	border: none;
	border-radius: 5px;
	color: #ADADAD;
}
.banner span
{
	position: absolute;
	top: 57%;
	right: 36%;
}
.banner span img
{
	width: 25px;
}
/*内容*/
.content
{
	text-align: center;
}
.left ul,
.right ul
{
	display: inline-block;
}
.left ul li,
.right ul li
{
	width: 49%;
	display: inline-block;
}
.left ul li img,
.right ul li img
{
	width: 100%;
	margin:5px 10px;
}
@media only screen and (max-width: 800px) {
	.banner input,
	.banner span
	{
		display: none;
	}
	#cloud
	{
		display: none;
	}
}