@media only screen and (max-width: 800px) {
	header ul
	{
		display: none;
	}
	.tour .one,
	.stategy i
	{
		display: none;
	}
	.tour .ul .li:hover .two
	{
		display: none;
	}
	.tour .ul .li
	{
		float: left;
		width: 45%;
	}
	.tours ul li img
	{
		width: 95%;
		margin: 5px 20px;
	}
	.tours ul
	{
		overflow: hidden;
		list-style: none;
	}
	.tours li
	{
		float: left;
		margin: 5px;
	}
	.tours div
	{
		display: none;
		position: absolute;
	}
	.tours div,
	.tours div img
	{
		width: 360px;
		height: 240px;
	}
	footer,
	.foot
	{
		padding: 3% 5% 0 5%;
	}
	footer .our,
	footer .serve,
	footer .app
	{
		display: none;
	}
	.right,
	.left
	{
		float: none;
	}
	.loading
	{
		display: none;
	}
	#cloud
	{
		display: none;
	}
	.bigContent
	{
		display: none;
	}
}