@media only screen and (max-width: 800px) {
	header ul
	{
		display: none;
	}
	.banner
	{
		height: 300px;
	}
	footer,
	.foot
	{
		padding: 3% 5% 0 5%;
	}
	footer .our,
	footer .serve,
	footer .app
	{
		display: none;
	}
	.right,
	.left
	{
		float: none;
	}
	.loading
	{
		display: none;
	}
	#cloud
	{
		display: none;
	}
}