@media only screen and (max-width: 800px) {
	header ul
	{
		display: none;
	}
	.language
	{
		display: none;
	}
	.content
	{
		padding: 0;
	}
	.cate .left,
	.freedom .right,
	.custom .left,
	.depth .right,
	.local .left
	{
		margin: 0 34%;
		text-align: center;
	}
	.cate .left p,
	.freedom .right p,
	.custom .left p,
	.depth .right p,
	.local .left p
	{
		margin: 0 auto;
	}
	.stategy .bottom img
	{
		width: 30%;
	}
	.local .right
	{
		margin: 0 10%;
	}
	.local .right img
	{
		width: 100%;
	}
	footer,
	.foot
	{
		padding: 3% 5% 0 5%;
	}
	footer .our,
	footer .serve,
	footer .app
	{
		display: none;
	}
	.right,
	.left
	{
		float: none;
	}
	.loading
	{
		display: none;
	}
	#cloud
	{
		display: none;
	}
}