/* 多语言按钮 */
.language
{
	margin-left: 45px;
	float: right;
	 padding-bottom: 20px; 
}
.language input
{
	background-color: transparent;
	border: none;
	margin-top: 13px;
}
/* 云 */
#navBar
{
	position: relative;
}
.navs span 
{
	position: absolute;
	top: 5px;
	left: 330px;
	width: 83px;
	height: 42px;
	background: url(../img/cloud.png) no-repeat;
}
/*图片*/
.img img
{
	width: 100%;
}
/*内容*/
/*美食行*/
.cate
{
	margin: 5% 0;
	height: 500px;
	overflow: hidden;
}
.cate .left h1
{
	font-family: "仿宋";
	font-size: 45px;
}
.cate .left p
{
	background-color: #07D79D;
	width: 67px;
	padding: 3px;
	color: white;
	border-radius: 5px;
	margin-bottom: 40px;
}
.cate .left
{
	float: left;
	margin-top: 13%;
}
.cate .left h1 a
{
	color: #262626;
}
.cate .left h1 a:hover
{
	text-decoration: none;
}
.cate .right
{
	float: right;
	width: 660px;
	position: relative;
	height: 500px;
}
/*内容轮播图*/
.poster-main
{
	position: relative;
}
.poster-main a,
.poster-main img
{
	display:block;
}
.poster-main .poster-list .poster-item
{
	position: absolute;
	left: 0;
	top: 0;
}
.poster-main .poster-btn
{
    cursor: pointer;
    position: absolute;
    top:0;
    width:90px !important;
    height:470px !important;
    text-align: center;
    line-height: 14px;
    color: #07D79D;
    z-index: 10;
}
.poster-main .poster-prev-btn
{
    left: 0;
}
.poster-main .poster-next-btn
{
    right: 0;
}
/*自由行*/
.freedom
{
	margin: 5% 0;
	height: 500px;
	width: 100%;
	overflow: hidden;
}
.freedom .right h1
{
	font-family: "仿宋";
	font-size: 45px;
}
.freedom .right p
{
	background-color: #07D79D;
	width: 67px;
	padding: 3px;
	color: white;
	border-radius: 5px;
	margin-bottom: 40px;
}
.freedom .right h1 a
{
	color: #262626;
	text-decoration: none;
}
.freedom .right
{
	float: right;
	margin-top: 13%;
}
.freedom .left
{
	float: left;
	width: 660px;
}
/*高端定制*/
.custom
{
	margin: 5% 0;
	height: 500px;
	overflow: hidden;
}
.custom .left h1
{
	font-family: "仿宋";
	font-size: 45px;
}
.custom .left p
{
	background-color: #07D79D;
	width: 67px;
	padding: 3px;
	color: white;
	border-radius: 5px;
	margin-bottom: 40px;
}
.custom .left
{
	float: left;
	margin-top: 13%;
}
.custom .left h1 a
{
	color: #262626;
	text-decoration: none;
}
.custom .right
{
	float: right;
	width: 660px;
}
/*深度游*/
.depth
{
	margin: 5% 0;
	height: 500px;
	overflow: hidden;
}
.depth .right h1
{
	font-family: "仿宋";
	font-size: 45px;
}
.depth .right p
{
	background-color: #07D79D;
	width: 67px;
	padding: 3px;
	color: white;
	border-radius: 5px;
	margin-bottom: 40px;
}
.depth .right
{
	float: right;
	margin-top: 13%;
}
.depth .right h1 a
{
	color: #000000;
}
.depth .right h1 a:hover
{
	text-decoration: none;
}
.depth .left
{
	float: left;
	width: 660px;
}
/*当地拼团*/
.local
{
	margin: 5% 0;
	height: 50%;
	overflow: hidden;
}
.local .left h1
{
	font-family: "仿宋";
	font-size: 45px;
}
.local .left p
{
	background-color: #07D79D;
	width: 67px;
	padding: 3px;
	color: white;
	border-radius: 5px;
	margin-bottom: 40px;
}
.local .left
{
	float: left;
	margin-top: 13%;
}
.local .right
{
	float: right;
}
.local .right img
{
	width: 80%;
	float: right;
}
.local .left h1 a
{
	color: #262626;
	text-decoration: none;
}
/*攻略*/
.stategy
{
	text-align: center;
	margin-bottom: 5%;
	height: 50%;
}
.stategy .top
{
	margin-bottom: 35px;
}
.stategy .top h1
{
	font-size: 45px;
	font-weight: bold;
}
.stategy .top h1 span
{
	color: #07D79D;
}
.stategy .top p
{
	background-color: #07D79D;
	width: 67px;
	padding: 3px;
	color: white;
	border-radius: 5px;
	margin-bottom: 40px;
	margin: 0 auto;
}
.stategy .bottom img
{
	width: 23%;
	margin-right: 1%;
	border: 1px dashed #CCCCCC;
}
.stategy .bottom img:hover
{
	transition: all .8s;
	transform: scale(1.1);
	box-shadow: 7px 0px 25px 2px #D4D4D4;
	border: none;
}
.stategy .top h1 a
{
	color: #262626;
	text-decoration: none;
}